@charset "utf-8";

@font-face {
    font-family: champagne;
    src: url('cac_champagne.woff') format('woff'),
        url('cac_champagne.ttf') format('truetype');
}

@font-face {
    font-family: Dobkin;
    src: url('DobkinPlain.woff') format('woff'),
        url('DobkinPlain.ttf') format('truetype');
}

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 4
   
   Great Lakescape Lodge Style Sheet
   Author: Nicholas Le
   Date:  09/11/18 
   
   Filename: lake_styles.css

*/
/* Section Styles*/
html {
    background-color: wheat;
}

body {
    background-color: linen;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Section Styles */
section h1 {
    font-family: Dobkin;
    margin: 10px;
    padding: 5px;
    font-size: 3em;
    text-align: center;
    color: dimgrey;
}

/* Aside Styles */
aside {
    text-align: center;
    padding: 5px;
}

/* Nav Style */
header nav a:link,
header nav a:visited {
    color: rgb(223, 196, 65);
    text-decoration: none;
    background-color: darksalmon;
}

header nav a:active,
header nav a:hover {
    background-color: coral;
}

section nav ul li a {
    text-decoration: none;
    color: rgb(223, 196, 65);
}

section nav ul li a:hover {
    text-decoration: underline;
}

nav h2 {
    color: #696969;
}

/* Footer Styles */
footer {
    background-color: rgba(250, 254, 253, 1);
    padding: 5px;
    text-align: center;
}